<%= simple_form_for [@domain, @record], as: :record, url: { controller: 'records', action: 'create' } do |f| %>
  <%= hidden_field_tag :record_name, params[:record_name] %>
  <%= render "records/#{@record.name.downcase}_fields", f: f %>
  <div class='form-actions'>
    <%= f.submit %>
  </div>
<% end %>
